body {
    font-family: 'Lato', sans-serif;
}
.upper{
    width: 100%;
    text-align: center;
    height: auto;
}
.title{
    width:75%;
    text-align: left;
    display: inline-block;

}
.title2{
    display: flex;
    width: 100%;
}
.title_text{
    font-size: 4em;
    font-weight:bolder;
}
.title_text2{
    font-size: 2em;
    font-weight: bold;
}
.lower{
    width: 100%;
    text-align: center;
    height: auto;
}
.registration{
    background-color: rgba(217, 241, 197, 0.479);
    display: inline-block;
    width: 90%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
.table1{
    border: 0.1em solid rgb(0, 0, 0);
}
.choice{
    background-color: rgb(230, 230, 230);
    width: 100%;
    border-radius: 0.5em;
}
.sign{
    background-color: rgb(223, 217, 217);
    width: 100%;
    height: 33em;
    border-radius: 0.5em;
}
.pages{
    width: 80%;
}
.Button{
    color: rgba(61, 89, 182);
    background-color: rgb(230, 230, 230);
    border-radius: 0.4em;
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2%;
    border: 0;
    font-size: 1.4em;
    font-weight: 500;
}
.Homeimg{
    width: 20%;
}
.d2{
    text-align: left;
}
.d3{
    text-align: left;
}
.d8{
    text-align: left;
}
.scroll{
    overflow: scroll;
}
td{
    border: 0.1em solid rgb(223, 217, 217);
}
p{
    font-size: 1.7em;
    margin-bottom: 20px;
}
b{
    font-size: 1.7em;
    font-weight: normal;
}
.food_text{
    font-size: 1.5em;
    font-weight: normal;
}

h3{
    font-size: 2.5em;
}
h1{
    font-size: 1.7em;
}
li{
    font-size: 1.7em;
}
p, li {
    line-height: 175%;
    color: #555;
    font-family: 'Roboto', 'Helvetica', 'Arial', serif;
}
p + h3, ul + h3, ol + h3 {
    margin-top: 40px;
}