.upper{
    width: 100%;
    text-align: center;
    height: auto;
}
.tital{
    width:75%;
    text-align: left;
    display: inline-block;

}
.tital2{
    display: flex;
    width: 100%;

}
.tital_text{
    font-size: 4em;
    font-weight:bolder;
}
.tital_text2{
    font-size: 2em;
    font-weight: bold;
}
.lower{
    width: 100%;
    text-align: center;
    height: auto;
}
.registration{
    background-color: rgba(217, 241, 197, 0.479);
    display: inline-block;
    width: 90%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
.table1{
    border: 0.1em solid rgb(0, 0, 0);
}
.choice{
    background-color: rgb(230, 230, 230);
    width: 100%;
    border-radius: 0.5em;
    border:1px solid rgb(223, 217, 217)
}
.sign{
    background-color: rgb(223, 217, 217);
    width: 100%;   
    border-radius: 0.5em;
    border:1px solid rgb(223, 217, 217)
}
.pages{
    width: 80%;
}
.Button{
    color: rgba(61, 89, 182);
    background-color: rgb(230, 230, 230);
    border-radius: 0.4em;
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2%;
    border: 0;
    font-size: 1.4em;
    font-weight: 500;
}
.Homeimg{
    width: 20%;
}
.d2{
    text-align: left;
}
.d3{
    text-align: left;
}
.d8{
    text-align: left;
}
.scroll{
    overflow: scroll;
}
td{
    border: 0.1em solid rgb(223, 217, 217);
}
p{
    font-size: 1.7em;
}
b{
    font-size: 1.7em;
    font-weight: normal;
}
.food_text{
    font-size: 1.5em;
    font-weight: normal;
}

h3{
    font-size: 2em;
}
h1{
    font-size: 1.7em;
}
li{
    font-size: 1.7em;
}
