<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internetware 2022</title>
    <link href="https://fonts.font.im/css?family=Lato|Roboto" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="Home.css" />
    <link rel="shortcut icon" href="images/internetware-logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body onhashchange="update()">
    <div class="container mx-auto px-6 space-y-6 max-w-screen-lg pt-10">
        <div class="flex px-6">
            <img class="float-left" src="./images/internetware-logo.png" style="height:8em" >
            <div class="pl-4" style="width:60%">
                <h1 class="pt-4">Internetware 2022</h1>
                <h2>Hohhot, China, June 11-12, 2022</h2>
            </div>
            <img class="float-right" src="./images/internetware-name.jpg" style="height:8em" >
        </div>
        <div class="flex flex-col">
            <div class="flex flex-flow">
                <div class="flex-none">
                    <div class="choice" id="total"> 
                        {% for sec in sections %}
                            <a id="b-{{ sec.id }}" class="button" href="#{{ sec.id }}">{{ sec.desc }}</a>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="choice">
                        <div class="Button">Sponsors</div>
                        <img src="./images/Sponsors.png" alt="" style="width: 100%;">
                    </div>
                </div>
                <div class="flex-1"> 
                    {% for sec in sections %}
                        <div id="d-{{ sec.id }}" class="d pages"> {{ sec.html | safe }} </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function b(id) { return document.getElementById('b-' + id); }
        function d(id) { return document.getElementById('d-' + id); }
        function update() {
            {% for sec in sections %}
            b('{{ sec.id }}').className = 'button';
            d('{{ sec.id }}').style.display = 'none';
            {% endfor %}

            var id = window.location.hash.substring(1) || 'home';
            b(id).className = 'button button-selected';
            d(id).style.display = 'block';
        }
        update();
    </script>
</body>
</html>
